/*******************
	UNIVERSAL
*******************/

.group:after {
	display: table;
	clear: both;
	content: " ";
}


*, *:before, *:after {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	 box-sizing: border-box;
	 margin: 0;
}

html {
	background-color: #F9F9F9;
}

* {
	font-family: proxima-nova, Proxima Nova, helvetica, arial, sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

/*******************
	BODY
*******************/

.wrapper {
	
}

/*******************
	HEADER
*******************/

.header {
	/* background-color: blue; */
	height: 50px;
	padding: .3% 2%;
	background-color: #FFF;
}

/* Below temporarily not needed */

/* 
.logo {
	background-color: #DA552F;
	color: white;
	border-radius: 100%;
	width: 3%;
	text-align: center;
	line-height: 2.1em;
	font-weight: bold;
	font-family: Helvetica;
	float: left;
	font-size: 1.4em;
	padding: .3%;
	font-family: Arial;
}
 */

.logo {
	float: left;
}

.search {
	float: left;
	margin: 12.5px 1%;
	width: 275px;
}

.dropdown-menu {
	float: right;
}

.dropdown-content {

}

.profile-pic {
	border-radius: 100%;
	height: 74%;
	width: 32.5px;
	float: right;
	background-color: green;
	margin: 5px 1.8% 0 0;
}

/*******************
	HERO
*******************/

.hero {
	background-image: url("../images/hero1.png");
	background-repeat: no-repeat;
	background-size: 100% 100%; 
	background-color: blue;
	float: left;
	width: 100%;
	height: 240px;
}

.hero-title {
	color: white;
	font-weight: normal;
	padding: 1.5%;
	float: left;
}

.hero-content {
	color: white;
	padding: 1.5%;
	float: left;
}

/*******************
	NAVIGATION
*******************/

.navbar {

}

.top-nav {

}

.bottom-nav {

}

.bottom-nav-title {

}

/*******************
	MAIN CONTENT 
*******************/

.main {
	background-color: #FFF;
}

.main-header {

}

.main-nav {

}

.main-nav-popular {

}

.main-nav-newest {

}

.main-section {

}

.main-sect-img {
	height: 110px;
}

.main-sect-title {

}

.main-sect-descript {

}

.upvote {

}

.comments {

}

.comments-icon {

}

.add-collection {

}

.type {

}

/*******************
	FOOTER
*******************/









