/*******************
	UNIVERSAL
*******************/

.group:after {
	display: table;
	clear: both;
	content: " ";
}


*, *:before, *:after {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	 box-sizing: border-box;
	 margin: 0;
}

html {
	background-color: #F9F9F9;
}

* {
	font-family: proxima-nova, Proxima Nova, helvetica, arial, sans-serif;
}

a {
	text-decoration: none;
}






