/*******************
	NAVIGATION
*******************/

.navbar {
	float: left;
	width: 145px;
	margin: 26px 16px 0 32px;
	list-style-type: none;
	font-size: 14px;
}

.top-nav-link {
	display: list-item;
	line-height: 30px;
	color: #999;
	padding: 1px;
}

.top-nav-link:hover {
	color: black;
	display: inline-block;
	background-color: #f2f2f2;
}

.bottom-nav-title {
	margin: 46px 0 10px 0;
	padding: 6% 0;
	line-height: 20px;
	border-bottom: 1px solid #f2f2f2;
	font-size: 12.5px;
	text-transform: uppercase;
}

.bottom-nav-link {
	display: list-item;
	color: #999;
	line-height: 30px;
	padding: .5px 1px;
}

.bottom-nav-link:hover {
	color: black;
	display: inline-block;
	background-color: #f2f2f2;
}
