/*******************
	NAVIGATION
*******************/

.navbar {
	float: left;
	width: 145px;
	margin: 26px 16px 0 32px;
}

.top-nav {
	
}

.top-nav-link {
	display: list-item;
	list-style-type: none;
	line-height: 30px;
	font-size: 14px;
	color: #999;
	padding: 1px;
}

.top-nav-link:hover {
	color: black;
	display: inline-block;
	background-color: #f2f2f2;
}

.bottom-nav {

}

.bottom-nav-title {
	margin-top: 37px;
	padding: 6% 0;
	line-height: 20px;
	border-bottom: 1px solid #f2f2f2;
	font-size: 12.5px;
	text-transform: uppercase;
}

.bottom-nav-link {
	display: list-item;
	list-style-type: none;
	font-size: 14px;
	color: #999;
	line-height: 30px;
	padding: .8px 1.3px;
	margin-top: 2px;
}

.bottom-nav-link:hover {
	color: black;
	display: inline-block;
	background-color: #f2f2f2;
}
